@using CoreBB.Web.Models
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">CoreBB</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Forum" asp-action="Index">Forums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Message" asp-action="Index">Messages</a>
                </li>
                @if (User.IsInRole(Roles.Adminstrator))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Manage</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="User" asp-action="Index">Users</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Forum" asp-action="Create">Create Forum</a>
                        </div>
                    </li>
                }
            </ul>
            <div class="pull-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="LogIn">Log In</a>
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="Register">Register</a>
                    </div>
                }
                else
                {
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="Detail" asp-route-name="@User.Identity.Name">My Account</a>
                        <a class="btn btn-secondary btn-info" asp-controller="User" asp-action="LogOut">Log Out</a>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - CoreBB</p>
    </footer>
</body>
</html>
