
@{
    ViewData["Title"] = "Core BB Home";
}

<div class="container" style="height:700px">
    <div class="card border-info" style="margin-top:120px">
        <div class="card-header text-white bg-info">
            <strong>Introduction</strong>
        </div>
        <div class="card-body">
            <h2>Welcome to CoreBB!</h2>
            <p>
                CoreBB is a simple bulletin board web application written in ASP.NET Core 2.0. It is also the sample project of the course <strong>Program a Server-Side Application using ASP.NET Core</strong>. The technologies used in this course include:<br />
                <ul>
                    <li>Model-View-Controller</li>
                    <li>Basic Authentication</li>
                    <li>Tag Helpers & HTML Helpers</li>
                    <li>Entity Framework Core</li>
                </ul>
            </p>
        </div>
    </div>
</div>