@model CoreBB.Web.Models.Topic
@{
    ViewData["Title"] = "New Topic";
    ViewData["Mode"] = "Create New Topic";
    ViewData["SubmitButtonText"] = "Post";
}

<form asp-action="Create" method="post">
    <input type="hidden" asp-for="ForumId"/>
    @Html.Partial("_TopicEditing", Model)
</form>
