@model CoreBB.Web.Models.Topic
@{
    ViewData["Title"] = "Delete Topic";
}

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="container col-6 offset-3 bb-panel">
        <div class="card border-info">
            <div class="card-header text-white bg-info">
                <strong>Confirm to Delete Topic @Model.Title</strong>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input type="text" class="form-control" asp-for="Title" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea class="form-control" asp-for="Content" readonly></textarea>
                </div>
                @if (Model.RootTopicId == Model.Id)
                {
                    <div class="form-group">
                        <p class="text-danger">
                            WARNING: This is a root topic. Deleting this topic will cause all its descendant topics to be deleted too.
                        </p>
                    </div>
                }
            </div>
            <div class="card-footer">
                <input type="submit" value="Delete" class="btn-sm btn-danger" />
            </div>
        </div>
    </div>
</form>

