@model CoreBB.Web.Models.Topic
@{
    ViewData["Title"] = Model.Title;
}
<h3>Original</h3>
@Html.Partial("_TopicReading", Model)
<hr />
<h3>Replies</h3>
@foreach (var topic in Model.InverseReplyToTopic)
{
    <div class="mt-3">
        @Html.Partial("_TopicReading", topic)
    </div>
}
