@model CoreBB.Web.Models.Topic
@{
    ViewData["Title"] = "Update Topic";
    ViewData["Title"] = "Update Topic";
    ViewData["Title"] = "Update";
}
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ForumId" />
    <input type="hidden" asp-for="RootTopicId" />
    <input type="hidden" asp-for="ReplyToTopicId" />
    <input type="hidden" asp-for="PostDateTime" />
    <input type="hidden" asp-for="OwnerId" />
    <input type="hidden" asp-for="Id" />
    @Html.Partial("_TopicEditing", Model)
</form>
