@model CoreBB.Web.Models.Forum
@{
    ViewData["Title"] = "Create New Forum";
}

<div class="container col-4 offset-4 bb-panel">
    <div class="card border-info">
        <div class="card-header text-white bg-info">
            <strong>Create New Forum</strong>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input class="form-control" type="text" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" type="text" asp-for="Description"></textarea>
                </div>
                <input type="submit" class="btn-sm btn-primary" value="Create" />
            </form>
        </div>
    </div>
</div>
