@model  CoreBB.Web.Models.Forum

@{
    ViewData["Title"] = "Delete Forum";
}

<h2 class="text-warning">Warning - All topics in this forum will also be deleted!</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    @Html.Partial("_ForumDetail", Model)
    <div class="text-center">
        <input class="btn-sm btn-warning text-centre mt-3" type="submit" value="Confirm" />
    </div>
</form>

